@model Tycoon.Web.Models.XzbbViewModel

<div class="row" ng-controller="ArticleController">
    <div class="col-md-12">
        @Helper.ValidationMessages(this)
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">行走播报详情 - @Model.title</span>
                </div>
                <div class="actions">
                    <a class="btn btn-sm green" href="@Url.Action("List")">>返回行走播报列表</a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-1">发布人</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3"> @(Model.name)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1">创建时间</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3">@(Model.addtime)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">有效期</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3">@(Model.validtime)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">图片</label>
                            <div class="col-md-11">
                                <img src="~/Uploads/@Model.pic" alt="" width="200px" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
