@using PagedList;
@using PagedList.Mvc

@model PagedList.StaticPagedList<DevelopmentCenter.Core.Models.Article>
@{
    ViewBag.Title = "列表";
    ViewBag.SubTitle = "管理站点活动内容";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">@ViewBag.Title</span>
                </div>
            </div>
            <div class="portlet-body">

                <div class="table-scrollable table-scrollable-borderless">

                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th>发布人</th>
                                <th>标题</th>
                                <th>分类</th>
                                <th>开始日期</th>
                                <th>费用</th>
                                <th>发布日期</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.Where(item => item != null))
                                {
                                    <tr>
                                        <td>
                                            @item.name
                                        </td>
                                        <td>
                                            @item.title
                                        </td>
                                        <td>
                                            @item.sort
                                        </td>
                                        <td>
                                            @item.Date_start
                                        </td>
                                        <td>
                                            @item.fy
                                        </td>
                                        <td>
                                            @item.AddTime
                                        </td>
                                        <td>
                                            <a class="btn default btn-xs purple-stripe" href="@Url.Action("Detail", new { id = item.id })"><i class="fa fc-month-view"></i> Detail</a>
                                            <a href="@Url.Action("Delete", new {id = item.id})" onclick=" return confirm('确认删除吗？'); " class="btn default btn-xs red">
                                                <i class="fa fa-trash-o"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        共@(Model.TotalItemCount)条,每页@(Model.PageSize)条,当前@(Model.PageNumber)/@(Model.PageCount)页
                    </div>
                    <div class="col-md-7 col-sm-12 text-right">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("List", new
                        {
                            page = page,
                            @size = ViewBag.Size,
                        }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
