@using PagedList;
@using PagedList.Mvc

@model PagedList.StaticPagedList<Tycoon.Web.Models.CarouselViewModel>
@{
    ViewBag.Title = "轮播列表";
    ViewBag.SubTitle = "管理站点轮播内容";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">@ViewBag.Title</span>
                </div>
                <div class="pull-right">
                 
                    <div class="btn-group">
                        <a class="btn btn-sm green" href="@Url.Action("Create")">
                            添加轮播 <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
               
                <div class="table-scrollable table-scrollable-borderless">

                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th>排序</th>
                                <th>图片</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.Where(item => item != null))
                                {
                                    <tr>
                                        <td>
                                            @item.px
                                        </td>
                                        <td>  <img src="~/Uploads/@item.pic" alt="" width="200px" /></td>
                                        <td>
                                            <a href="@Url.Action("Delete", new { id = item.id })" onclick=" return confirm('确认删除吗？'); " class="btn default btn-xs red">
                                                <i class="fa fa-trash-o"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        共@(Model.TotalItemCount)条,每页@(Model.PageSize)条,当前@(Model.PageNumber)/@(Model.PageCount)页
                    </div>
                    <div class="col-md-7 col-sm-12 text-right">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("List", new
                        {
                            page = page,
                            @size = ViewBag.Size,
                        }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>